.title, .subtitle {
  font-family: Impact, Arial Black, monospace; 
  font-weight: 400;
}

.author {
  font-family: Impact, Arial Black, monospace;
  font-weight: lighter;
  font-style: italic;
  font-size: 16px;
}


.date {
  font-family: Impact, Arial Black, monospace;
  font-weight: lighter;
  font-size: 16px;
}

blockquote {
  font-size: 12px;
}

p.caption {
  font-size: 10px;
}
